{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1 class="text-center text-white">Inscription</h1>
	<div class="container card pb-5 pt-5 my-5">
		{{ form_start(registrationForm) }}
		<div class="row">
			<div class="col-12">
				{{ form_label(registrationForm.email, 'Adresse e-mail') }}
				{{ form_widget(registrationForm.email) }}
				<div class="form-error">
					{{ form_errors(registrationForm.email) }}
				</div>
			</div>
			<div class="col-12 col-md-6">
				{{ form_label(registrationForm.firstName, 'Prénom') }}
				{{ form_widget(registrationForm.firstName) }}
				<div class="form-error">
					{{ form_errors(registrationForm.firstName) }}
				</div>
			</div>
			<div class="col-12 col-md-6">
				{{ form_label(registrationForm.lastName, 'Nom') }}
				{{ form_widget(registrationForm.lastName) }}
				<div class="form-error">
					{{ form_errors(registrationForm.lastName) }}
				</div>
			</div>
			<div class="col-12 col-md-6">
				{{ form_label(registrationForm.plainPassword, 'Mot de Passe') }}
				{{ form_widget(registrationForm.plainPassword) }}
			</div>
			<div class="col-12 col-md-6">
			<label for="registerSubmit" class="required">En vous inscrivant vous acceptez les <a href="{{ path('cgu') }}">conditions d'utilisation</a> et les <a href="{{ path('cgv') }}">conditions générales de vente</a></label>
				<input id="registerSubmit" class="form-control" style="background-color:white!important;" type="submit" value="S'inscrire" class="btn btn-light">
			</div>
		</div>
		{{ form_end(registrationForm) }}
				</div>
			{% endblock %}
