{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}
	<h1>Products</h1>
	<div class="container ">
		<div class="card w-100">
			<p>{{ product.id }}</p>
		</div>

	</div>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ product.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ product.Title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ product.Description }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ product.Price }}</td>
			</tr>
			<tr>
				<th>Quantity</th>
				<td>{{ product.Quantity }}</td>
			</tr>
			<tr>
				<th>Size</th>
				<td>{{ product.Size }}</td>
			</tr>
			<tr>
				<th>Materials</th>
				<td>{{ product.Materials }}</td>
			</tr>
			<tr>
				{% if product.quantity != 0 %}
					<th>add product to cart</th>
					<td>
						<a class="addtocart" data-id="{{ product.id }}" data-quantity="1">add to cart</a>
						{% if product.quantity > 1 %}
							<div class="def-number-input number-input safari_only">
								<button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
								<input class="quantity" id="quantityofproducttocart" min="1" name="quantity" max="{{ product.quantity }}" type="number">
								<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
							</div>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		</tbody>
	</table>

	<a href="{{ path('products_index') }}">back to list</a>

	<a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>

	{{ include('products/_delete_form.html.twig') }}
{% endblock %}
