{% extends 'base.html.twig' %}

{% block title %}Vos commandes
{% endblock %}

{% block body %}
	<div id="orderBody" class="row mx-auto container">
		{% for order in orders %}
			<div class="card col-12 my-3 py-2">
				<div class="row">
					<div class="text-left col-6">
						<p>Date de le commande:
							<b>{{ order.createdAt|date("d/m/Y") }}</b>
						</p>
					</div>
					<div
						class="container row  my-5 mx-auto">
						{# on initialise le prix totale le prix totale #}
						{% set totalPrice = 0 %}
						<!-- Grid column -->

						{% for product in order.orderProducts %}
							{% set totalPrice = totalPrice + (product.products.price * product.quantity) %}
							<div class="col-lg-6 col-md-12 my-2">
								<div class="card h-100 cardiinorder">
									<div class="card-body row">

										{# affichage de la première image pour chaque produit #}
										{% for key,image in product.products.productImages %}
											{% if key == 0 %}
												<div class="col-6">
													<a href="{{ path('products_show', {'id': product.products.id}) }}"><img width="100%" src="{{ asset('images/products/'~image.imageName) }}"></a>
												</div>
											{% endif %}
										{% endfor %}

										<div class="col-6">
											<p class="h4 text-bold">
												<a href="{{ path('products_show', {'id': product.products.id}) }}">{{product.products.Title}}</a>
											</p>
											<p>Quantité :
												{{product.quantity}}</p>
											<p>Prix Unitaire :
												{{product.products.price}}</p>
											<p>Prix Total :
												{{product.products.price * product.quantity}}</p>
										</div>
									</div>
								</div>

							</div>
						{% endfor %}
						<div class="col-12">
							Prix Total de la commande :
							<b>{{totalPrice}}€</b>
						</div>
						<div class="col-12">Jeton de commande ( à présenter en magasin pour récupérer vos articles) :
							<b>{{ order.ConfirmeToken }}</b>
						</div>
					</div>
				</div>
			</div>
		{% else %}
		<p class="h1 text-white text-center mx-auto">Vous n'avez aucune commande en cours </p>	
		{% endfor %}

	</div>
{% endblock %}
