{% extends 'base.html.twig' %}

{% block title %}List des commandes
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<h1 class="text-center text-white">Commandes</h1>
	<div class="row container mx-auto">
		{% for order in orders %}
			<div class="col-12 col-lg-6">
				<div class="card p-3 mb-3">
					<p>Nombre de produits dans la commande  :
						<b>{{ order.orderProducts|length }}</b>
					</p>
					<p>Commandé le
						<b>{{ order.createdAt|date("d/m/Y à H:i:s") }}</b>
						par
						<b>{{ order.user.email }}</b>
					</p>
					<p>Adresse de livraison :
						<b>{{ order.deliveryAddress}}</b>
					</p>
					<a class="btn btn-light" href="{{ path('order_show', {'id': order.id}) }}">Voir la commande</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="d-flex justify-content-center">
		<p>{{ knp_pagination_render(orders) }}</p>
	</div>
{% endblock %}
