{% extends 'base.html.twig' %}

{% block title %}Liste des commandes
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<h1 class="text-center text-white">Commandes</h1>
	<div class="row container mx-auto">
		<div class="form-outline">
			<input type="search" class="form-control" id="ordertablesearch" placeholder="Rechercher une commande  ...">
		</div>
		<table class="table bg-white">
			<thead>
				<tr>
					<th>date de la commande</th>
					<th>adresse e-mail du client</th>
					<th>Jeton de commande</th>
					<th>Voir la commande</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{% for order in orders %}
					<tr>
						<td>{{ order.createdAt|date("d/m/Y à H:i:s") }}</td>
						<td>{{ order.user.email }}</td>
						<td>{{ order.ConfirmeToken }}</td>
						<td><a class="font-weight-bold" href="{{ path('order_show', {'id': order.id}) }}">Voir la commande</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<p>{{ knp_pagination_render(orders) }}</p>
	</div>
{% endblock %}
